.filterCont {
  display: inline-flex;
  align-items: center;
}

.container {
  display: inline-flex;
  flex-direction: column;
  margin-left: 4px;
}

.arrow {
  height: 6px;
  width: 12px;
  object-fit: contain;
}

.invert {
  transform: rotate(180deg);
}
